.recipe-container{
    display:flex;
    justify-content:center;
    flex-direction:row;
    gap:10px;
    flex-wrap:wrap;
}
.recepie-card{
    width:300px;
    cursor:pointer;
    background:lightgray;
}